<nav title="navigation">
    <div id="global-header">
        <div id="global-branding">
          <div class="navbar-dc-logo">
           <a href="http://www.dailycal.org/" title="The Daily Californian" target="_top">
             <img class="navbar-brand" src="http://projects.dailycal.org/images/masthead.png">
           </a>
          </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ META.url | urlencode }}"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?url={{ META.url | urlencode }}&amp;via=dailycal&amp;text={{META.share.twitter.share_tweet | urlencode}}"><i class="fa fa-twitter"></i></a></li>
        </ul>

    </div>
</nav>
  